body {
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes loader {
    from {
        color: black;
    }
    to{
        color: white;
    }
}

/* @keyframes {
    form{
        opacity: 1;
    }

    to {
        opacity: 0;
    }
} */
.loader {
    animation: loader .8s linear infinite forwards;
}